<div
  class="flex items-center justify-center min-h-screen bg-gradient-to-br from-gray-700 via-gray-900 to-black"
>
  <div
    class="w-full max-w-md bg-white/20 backdrop-blur-md p-8 shadow-xl rounded-lg transition-all duration-300 ease-in-out hover:bg-white/30"
  >
    <h2 class="text-3xl font-extrabold text-center text-white mb-6">
      Registro de Clientes
    </h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="relative">
        <label for="name" class="block text-gray-300">Nombre</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          class="mt-1 block w-full p-3 border border-transparent rounded-lg bg-gray-900/50 text-white focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 ease-in-out"
          placeholder="Ingresa tu nombre"
        />
        <div
          *ngIf="
            registerForm.get('name')?.invalid &&
            registerForm.get('name')?.touched
          "
          class="text-red-400 text-sm mt-1"
        >
          El nombre es requerido y debe tener al menos 3 caracteres.
        </div>
      </div>

      <div class="relative">
        <label for="email" class="block text-gray-300"
          >Correo Electrónico</label
        >
        <input
          id="email"
          formControlName="email"
          type="email"
          class="mt-1 block w-full p-3 border border-transparent rounded-lg bg-gray-900/50 text-white focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 ease-in-out"
          placeholder="Ingresa tu correo"
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="text-red-400 text-sm mt-1"
        >
          Ingresa un correo electrónico válido.
        </div>
      </div>

      <div class="relative">
        <label for="token" class="block text-gray-300"
          >Token de Seguridad</label
        >
        <input
          id="token"
          formControlName="token"
          type="text"
          class="mt-1 block w-full p-3 border border-transparent rounded-lg bg-gray-900/50 text-gray-500 focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 ease-in-out opacity-90 readonly:opacity-100"
          placeholder="Token de 8 dígitos"
          readonly
        />
        <div
          *ngIf="
            registerForm.get('token')?.invalid &&
            registerForm.get('token')?.touched
          "
          class="text-red-400 text-sm mt-1"
        >
          El token debe tener 8 dígitos.
        </div>
      </div>

      <div class="relative">
        <label for="password" class="block text-gray-300">Contraseña</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="mt-1 block w-full p-3 border border-transparent rounded-lg bg-gray-900/50 text-white focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 ease-in-out"
          placeholder="Crea una contraseña"
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="text-red-400 text-sm mt-1"
        >
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <div class="relative">
        <label for="confirmPassword" class="block text-gray-300"
          >Confirmar Contraseña</label
        >
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          class="mt-1 block w-full p-3 border border-transparent rounded-lg bg-gray-900/50 text-white focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 ease-in-out"
          placeholder="Repite tu contraseña"
        />
        <div
          *ngIf="
            !passwordsMatch && registerForm.get('confirmPassword')?.touched
          "
          class="text-red-400 text-sm mt-1"
        >
          Las contraseñas no coinciden.
        </div>
      </div>

      <div class="relative">
        <button
          type="submit"
          [disabled]="!registerForm.valid || !passwordsMatch"
          class="w-full bg-gradient-to-r from-blue-500 to-indigo-600 text-white p-3 rounded-lg hover:from-indigo-500 hover:to-purple-600 transition-all duration-300 ease-in-out shadow-lg hover:shadow-2xl disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
